SECRET_KEY=
ALLOWED_HOSTS="localhost"
SITE_ID=
DEBUG=True


SENDGRID_API_KEY=
EMAIL_HOST_USER=no-reply@gmail.com

RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
RECAPTCHA_REQUIRED_SCORE=0.5

DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=db_name
SQL_USER=db_user
SQL_PASSWORD=db_password
SQL_HOST=db
SQL_PORT=5432
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password

SSO_GOOGLE_CLIENT_ID=
SSO_GOOGLE_CLIENT_SECRET=

DJANGO_VITE_DEV_MODE=1