{% load django_vite %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Min's DJ-Vibe</title>
</head>

<body style="margin: 0;">
  <div id="root">
    <!-- <script type="module">
      import RefreshRuntime from 'http://localhost:3000/static/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => { }
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script> -->
    {% vite_react_refresh %}

    <!-- <script type="module" src="http://localhost:3000/static/@vite/client"></script> -->
    <!-- <script type="module" src="http://localhost:3000/static/main.jsx"></script> -->
    {% vite_hmr_client %}
    {% vite_asset 'main.jsx' %}
  </div>
</body>

</html>